name: Build Night Horde Mod

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Install Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: 9.2.1

      - name: Build mod
        run: |
          cd night_horde_project/night_horde_project
          gradle --no-daemon build --stacktrace



      - name: Upload mod jar
        uses: actions/upload-artifact@v4
        with:
          name: night-horde-jar
          path: "night_horde_project/night_horde_project/build/libs/*.jar"


